<?xml version="1.0" encoding="UTF-8"?>
<openerp>
  <data>
  	
  	<record model="ir.actions.act_window" id="turns.action_window">
      <field name="name">Turnos</field>
      <field name="res_model">turns.turn</field>
      <field name="view_type">form</field>
      <field name="view_mode">tree,form,graph,pivot</field>
    </record>
    
    <record model="ir.actions.act_window" id="turns.client_action_window">
    	<field name="name">Socios</field>
    	<field name="res_model">turns.client</field>
    	<field name="view_mode">tree,form</field>
    	<field name="search_view_id" ref="turns.client_list"/>
    </record>
	
	
  	<!-- Top menu item -->
    <menuitem name="Turnos" id="base.menu_main_cert"
            icon="fa-calendar"
            web_icon="project,static/description/icon.png"
            sequence="250"
            action="turns.action_window"/>
            
    <menuitem name="Turnos" id="turns.turn_left_menu_category" parent="base.menu_main_cert"/>
    
    <menuitem name="Lista" id="turns.turn_left_menu_list" parent="turns.turn_left_menu_category"
    		 action="turns.action_window" />
	
	
	<menuitem name="Socios" id="turns.client_left_menu_list" parent="turns.turn_left_menu_category"
    		 action="turns.client_action_window" />
  	
    <!-- actions opening views on models -->
    
                    
    
    
    
    
    
<!--     <record model="ir.actions.act_window" id="geo_certifications.tasks_action_window"> -->
<!--     	<field name="name">Tareas</field> -->
<!--     	<field name="res_model">certifications.certification.task</field> -->
<!--     	<field name="view_mode">kanban,tree,form</field> -->
<!--     	<field name="search_view_id" ref="geo_certifications.task_list"/> -->
<!--     </record> -->
    
    
<!--     <record model="ir.actions.act_window" id="geo_certifications.stages_action_window"> -->
<!--     	<field name="name">Etapas de kanban de tareas</field> -->
<!--     	<field name="res_model">certifications.certification.task.stage</field> -->
<!--     	<field name="view_mode">tree,form</field> -->
<!--     	<field name="search_view_id" ref="geo_certifications.stage_list"/> -->
<!--     </record> -->
    

    
    
    <!-- menu categories -->

<!--    	<menuitem name="Supervisores" id="geo_certifications.supervisors_left_menu_list" parent="geo_certifications.left_menu_category" -->
<!--    			 action="geo_certifications.superviros_action_window"/> -->
    
<!--    	<menuitem name="Tareas" id="geo_certifications.task_left_menu_list" parent="geo_certifications.left_menu_category" -->
<!--    			 action="geo_certifications.tasks_action_window"/> -->
<!--    	<menuitem name="Etapas de kanban de tareas" id="geo_certifications.stage_left_menu_list" parent="geo_certifications.left_menu_category" -->
<!--    			 action="geo_certifications.stages_action_window"/> -->
   
  </data>
</openerp>